In [1]:
print("Hello World")

Hello World

# This is a markdown cell

with e.g. Latex

$f(x) = \sqrt(x)$

In [2]:
text = "Hello world"

In [3]:
type(text)

str

In [4]:
integer = 3
type(integer)

int

In [5]:
floating = 2.5
type(floating)

float

In [6]:
text = 3.0
type(text)

float

In [7]:
if 5 < 6:
    print("this is true")
else:
    print("This is flase")

this is true

In [8]:
something = "This is a string"

In [9]:
if something is None:
    print("This is None")
elif type(something) is not str:
    print("It must be something else")
else:
    print("It must be a string")

It must be a string

In [10]:
something = 5

In [11]:
if something is None:
    print("This is None")
elif type(something) is not str:
    print("It must be something else")
else:
    print("It must be a string")

It must be something else

In [12]:
# None is similar to void in C++
something = None
if something is None:
    print("This is None")
elif type(something) is not str:
    print("It must be something else")
else:
    print("It must be a string")

This is None

# Loops

In [13]:
for i in range(5):
    print("hello")

hello
hello
hello
hello
hello

In [14]:
for i in range(5):
    print(f"hello {i}") #formatted string. We can interpolate values

hello 0
hello 1
hello 2
hello 3
hello 4

In [15]:
for i in range(5):
    print(f"hello {i:05d}") # i:05d is format specifiers

hello 00000
hello 00001
hello 00002
hello 00003
hello 00004

In [16]:
b = 5
while b > 2:
    print(b)
    b -= 1
    h = 42 # variables created inside loops if statements are in global scope

5
4
3

In [17]:
b

2

In [18]:
h # global variable since created inside loop

42

In [19]:
# infinite loop
#while True: 
#    pass

# Functions

In [20]:
def say_hi():         # : meaning is we are entering a different scope
    print("Hello")

say_hi()

Hello

In [21]:
def greeting():
    name = input("What is your name?") # local variable
    print(f"Hello {name}")
    return name

In [22]:
returnedName = greeting()

Hello Akash

In [23]:
returnedName

'Akash'

In [24]:
name # local variable defined inside a function

NameError: name 'name' is not defined

In [25]:
def add_two(variable):
    variable += 2
    return variable

In [26]:
b = 2

In [27]:
b_add_two = add_two(b)
b_add_two

4

In [28]:
b

2

In [29]:
%whos

Variable       Type        Data/Info
------------------------------------
add_two        function    <function add_two at 0x00000288FC4CC280>
b              int         2
b_add_two      int         4
floating       float       2.5
greeting       function    <function greeting at 0x00000288FD04CF70>
h              int         42
i              int         4
integer        int         3
os             module      <module 'os' from 'c:\\Us<...>datascience\\lib\\os.py'>
returnedName   str         Akash
say_hi         function    <function say_hi at 0x00000288FC206670>
something      NoneType    None
sys            module      <module 'sys' (built-in)>
text           float       3.0

In [30]:
def add_variables(var_1, var_2, var_3):
    return var_1+var_2+var_3

In [31]:
add_variables(5,6,7)

18

In [32]:
def print_strings(first, second):
    print(f"{first}_{second}")

In [33]:
print_strings("Hello", "World") # normal function call

Hello_World

In [34]:
print_strings(first="Hello", second="World") # function call with named arguments

Hello_World

In [35]:
print_strings(second="World", first="Hello") # function call with named arguments in any order

Hello_World

In [36]:
print_strings("Hello", second="World") # named arguments should placed after positional arguments

Hello_World

In [37]:
print_strings(first="Hello", "World") # named arguments should placed after positional arguments

SyntaxError: positional argument follows keyword argument (3435082393.py, line 1)

In [38]:
def print_strings_default_values(first="Hello",second="World"):
    print(f"{first}_{second}")

In [39]:
print_strings_default_values()

Hello_World

In [40]:
print_strings_default_values("Akash", "Lingaraja")

Akash_Lingaraja

In [41]:
def print_additional_args(regular, *args, **kwargs):  # atleast regular argument should be supplied while calling the function 
    print(regular)
    print(args)
    print(kwargs)

In [42]:
print_additional_args()

TypeError: print_additional_args() missing 1 required positional argument: 'regular'

In [43]:
print_additional_args(3.0)

3.0
()
{}

In [44]:
print_additional_args("Python Course", 10, 12, 5.9, [3, 5., 8], something=True, something_Else=False)

Python Course
(10, 12, 5.9, [3, 5.0, 8])
{'something': True, 'something_Else': False}

### Apart from basic data types all other data types are passed by reference

In [45]:
def function_changes_its_arguments(lists):
    lists[0] = 2.0

In [46]:
lists = ["Hello", 3, True]
lists

['Hello', 3, True]

In [47]:
function_changes_its_arguments(lists)

In [48]:
lists

[2.0, 3, True]

### Nested functions

In [49]:
def talk(phrase:str):
    def say(word):
        print(word)
    
    words = phrase.split(' ')
    for word in words:
        say(word)

talk("I am going to buy milk")

I
am
going
to
buy
milk

In [50]:
def count():
    count = 0
    
    def increment():
        nonlocal count  # by using nonlocal keyword we can access variable defined in the outer function
        count += 1
        print(count)
    
    increment()
    
count()

1

# Type Hinting

In [51]:
def type_hinted_function(input_str: str) -> str: # types are for hinting and to help intellisense not enforced strictly
    print(type(input_str))
    modified_str = f"Hello {input_str}"
    return modified_str

In [52]:
print(type_hinted_function("World"))
print(type_hinted_function(42))

<class 'str'>
Hello World
<class 'int'>
Hello 42

# Casting

In [53]:
g = 4.007
print(g)
type(g)

4.007

float

In [54]:
g_as_str = str(g)
print(g_as_str)
type(g_as_str)

4.007

str

In [55]:
h = "4.007"
print(h)
type(h)

4.007

str

In [56]:
h_as_float = float(h)
print(h_as_float)
type(h_as_float)

4.007

float

# Simple Math

In [57]:
1 +2

3

In [58]:
1 / 2

0.5

In [59]:
5 // 2

2

In [60]:
5 // 3

1

In [61]:
4 * 2

8

In [62]:
4 ** 2

16

In [63]:
from math import sqrt
sqrt(9)

3.0

In [64]:
9 ** (0.5)

3.0

# List

In [65]:
# List can be thought of as resizable containers can contain different type of objects

In [66]:
fruits = ["Banana", "Apple", "Grapes"]
fruits

['Banana', 'Apple', 'Grapes']

In [67]:
print(fruits[0])
print(fruits[1])
print(fruits[2])
print(fruits[3])

Banana
Apple
Grapes

IndexError: list index out of range

In [68]:
fruits[0] = "mango"
fruits

['mango', 'Apple', 'Grapes']

In [69]:
fruits.append("banana")
fruits

['mango', 'Apple', 'Grapes', 'banana']

In [70]:
vegetables = ["potato", "tomato"]

In [71]:
my_fav = fruits + vegetables
my_fav

['mango', 'Apple', 'Grapes', 'banana', 'potato', 'tomato']

In [72]:
len(my_fav)

6

In [73]:
lists_of_different_obj = ["something", 35, True, "bleh", 4.009]
type(lists_of_different_obj)

list

# Dictionaries
## Key and value pairs of resizable arbitrary types as long as key is hashable
## can only be accesed by keyword

In [74]:
opinions_on_fruits = { "apple": "Sour and crunchy", 
                       "banana": "Sweet an yellow",
                       "kiwi": "Intense and sweet"}

In [75]:
opinions_on_fruits

{'apple': 'Sour and crunchy',
 'banana': 'Sweet an yellow',
 'kiwi': 'Intense and sweet'}

In [76]:
opinions_on_fruits["banana"]

'Sweet an yellow'

In [77]:
opinions_on_variables = { 42: "a number",
                          True: "a boolean",
                          "number": 43.05,
                          }

In [78]:
print(opinions_on_variables[42])
print(opinions_on_variables[True])
print(opinions_on_variables["number"])
print(opinions_on_variables[0])

a number
a boolean
43.05

KeyError: 0

In [79]:
options = { "solver": {
                "type": "rk45",
                "rtol": 1.0e4,
                "atol": 1.0e-4
                },
            "saveat": [0.0, 0.1, 0.2, 0.3, 0.4]
           }

In [80]:
options

{'solver': {'type': 'rk45', 'rtol': 10000.0, 'atol': 0.0001},
 'saveat': [0.0, 0.1, 0.2, 0.3, 0.4]}

In [84]:
options["speed"] = "fast"

In [85]:
options

{'solver': {'type': 'rk45', 'rtol': 10000.0, 'atol': 0.0001},
 'saveat': [0.0, 0.1, 0.2, 0.3, 0.4],
 'speed': 'fast'}

In [86]:
options["solver"] = "euler"

In [87]:
options

{'solver': 'euler', 'saveat': [0.0, 0.1, 0.2, 0.3, 0.4], 'speed': 'fast'}

In [88]:
options = { "solver": {
                "type": "rk45",
                "rtol": 1.0e4,
                "atol": 1.0e-4
                },
            "saveat": [0.0, 0.1, 0.2, 0.3, 0.4]
           }

In [89]:
options["solver"]

{'type': 'rk45', 'rtol': 10000.0, 'atol': 0.0001}

In [90]:
options["solver"]["type"]

'rk45'

# Tuple
## fixed size lists

In [91]:
a_tuple = (1, 2, 3)
a_tuple

(1, 2, 3)

In [92]:
b_tuple = (1, "jdsj", True)
b_tuple

(1, 'jdsj', True)

In [93]:
print(b_tuple[0])
print(b_tuple[1])
print(b_tuple[2])

1
jdsj
True

# Iterating over datastructures

In [94]:
fruits = ["Banana", "Apple", "Grapes"]

In [95]:
for fruit in fruits:
    print("Akash like {}".format(fruit))

Akash like Banana
Akash like Apple
Akash like Grapes

In [96]:
for position, fruit in enumerate(fruits):
    print(f"Rank {position} is {fruit}")

Rank 0 is Banana
Rank 1 is Apple
Rank 2 is Grapes

In [97]:
opinions_on_fruits = { "apple": "Sour and crunchy", 
                       "banana": "Sweet an yellow",
                       "kiwi": "Intense and sweet"}

In [98]:
for key, value in opinions_on_fruits.items():
    print(f"About {key} someone says {value}")

About apple someone says Sour and crunchy
About banana someone says Sweet an yellow
About kiwi someone says Intense and sweet

In [99]:
range(5) #creates an abstraction for iterable object from 0 to 5

range(0, 5)

In [100]:
list(range(5))

[0, 1, 2, 3, 4]

# Lambdas

In [101]:
#named lambdas
f = lambda x: x**2

In [102]:
f(2)

4

In [103]:
f(4.0)

16.0

In [104]:
wrong_capitalisation = ["baNANA", "MANGO"]

In [105]:
# deprecated way using anonymous lambda
correct_capitalisation = list(map(lambda x: x.capitalize(), wrong_capitalisation))

In [106]:
correct_capitalisation

['Banana', 'Mango']

In [107]:
# Recomended way to do this: List comprehension
correct_capitalisation_2 = [x.capitalize() for x in wrong_capitalisation]

In [108]:
correct_capitalisation_2

['Banana', 'Mango']

# Importing files

In [109]:
from to_be_imported import crazy_func

In [110]:
crazy_func

In [111]:
crazy_func()

Hello World

In [112]:
import to_be_imported

In [113]:
to_be_imported.crazy_func()

Hello World

In [114]:
import to_be_imported as tbi

In [115]:
tbi.crazy_func()

Hello World

In [116]:
import numpy as np

### Importing from nested folders

In [117]:
from to_be_imported_nested.to_be_imported_nested import crazy_func

In [118]:
import to_be_imported_nested.to_be_imported_nested as tbi

In [119]:
tbi.crazy_func()

Hello World

# Closures

In [120]:
def counter():
    count = 0
    
    def increment():
        nonlocal count  # by using nonlocal keyword we can access variable defined in the outer function
        count += 1
        return count
    
    return increment

In [121]:
increment = counter()
increment

In [122]:
print(increment())
print(increment())
print(increment())

1
2
3

# map() and filter()

In [123]:
numbers = [1, 2, 3, 4, 5, 6, 7]

def double(a):
    return a*2

result = map(double, numbers)
result

In [124]:
print(result)
print(list(result))

<map object at 0x00000288FE83EDF0>
[2, 4, 6, 8, 10, 12, 14]

In [125]:
result = map(lambda x: x*2, numbers)
print(list(result))

[2, 4, 6, 8, 10, 12, 14]

In [126]:
result = filter(lambda x: x % 2 == 0, numbers)
print(list(result))

[2, 4, 6]

# Decorators

In [127]:
def logtime(func):
    def wrapper():
        print("before")
        val =func()
        print("after")
        return val
    return wrapper

In [128]:
@logtime
def hello():
    print("hello")

In [129]:
hello()

before
hello
after

# Exceptions

In [130]:
#try:
    #code something here
#except <ERROR1>
    # handle <ERROR1>
#except <ERROR2>
    # handle <ERROR2>
#except:
    # here it will handle any exception error
#else:
    # if no exceptions are raised this block is executed
#finally:
    # do something in any case

In [131]:
try:
    division_by_zero = 2 / 0
except ZeroDivisionError:
    print("Cannot divide by zero")
finally:
    division_by_zero = 1
    
print(division_by_zero)

Cannot divide by zero
1

In [132]:
raise Exception("An error!")

Exception: An error!

In [133]:
try:
    raise Exception("An error!")
except Exception as error:
    print(error)

An error!

In [134]:
class DogNotFoundException(Exception):
    print("inside")
    pass

inside

In [135]:
try:
    raise DogNotFoundException()
except DogNotFoundException:
    print("Dog not found")

Dog not found